.drumMachine {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 25px
}

.display {
  grid-column: 1 / 4;
  text-align: center;
  background-color: #373733;
  color: #c0c0c0;
}